--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pandas
numpy
scikit-learn
seaborn
matplotlib
langchain
pydantic
transformers
sentence-transformers
faiss-cpu
pypdf
langchain-community
torch
langchain-google-genai
langgraph
joblib
python-multipart
Pillow
google-genai
